/*dinner*/
.dinner-inner{
    margin-top: 64px;
    width: 100%;
    background:linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%) , url("../images/strawberry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    padding-top: 100px;
}
.dinner-title{
    padding-bottom: 32px;
    padding-left: 50px;
    width: 100%;
    max-width: 500px;
}
.dinner-box{
    padding-left: 50px;
    padding-top: 345px;
}
@media only screen and (min-width:800px){
    .dinner-inner{
        display: flex;
        justify-content: center;
    }
    .dinner-title{
        padding-top: 313px;
    }
    .dinner-title{
        padding-left: 0;
    }
}

.details__wrapper {
    display: flex;
    max-width: 740px;
    width: 100%;
}
.details__info {
    
}
.details__heading {
}
.details_list {
}
.details__item {
}
.details__link {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 12px;
    background-color: #95bf6c;
    line-height: 18px;
    color: #6A983C !important;
}

.details__textbox {
}
.details__text {
    background-color: #000000;
}
.details__info1 {
}
.details {
}
.link {
}
.icons__list {
}
.icons__item {
}
.icon__link {
    