/* Footer start */

.footer__title {
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color:#151515;
    margin-bottom: 16px;
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer__link {
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    color:#6A983C;
    text-decoration: none;
}

.footer__span {
    display: inline-block;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    padding: 4px 10px;
    color:#151515;
    background-color:#f5f5f5;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
}

.footer__text {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 64px;
    color:#151515;
    
}


/* Footer end */